body {
  background-color:#121212;
  color:#fff;
}

main {
  margin-top: 15px;
}

.navbar-brand img {
  height: 29px;
  margin-bottom: -8px;
  margin-top: -12px;
}

.navbar-bg-dark {
  background-color:#1F1F1F;
}

.card {
  background-color:#1E1E1E;
}

.card .card-header {
  font-weight:bold;
  color:#efefef;
  background-color:#1a1a1a;
}

.card .card-body {
  color:#ffffff;
}

.bottom-player {
  position: fixed;
  background-color: #181818;
  bottom: 0px;
  left: 0px;
  width:100%;
  padding: 13px 0px;
  border-top:1px solid #282828;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-container-fluid {
  margin-bottom:100px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #5E5E5E;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius:10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  cursor: pointer;
  border-radius:50%;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #fff;
  cursor: pointer;
  border-radius:50%;
}

.seekBarAudio {
  margin-top: 9px;
  margin-left: 9px;
  margin-right: 9px;
  cursor:pointer;
}

.volumeBarAudio {
  cursor:pointer;
  width: 100px;
  position: relative;
  top: -3px;
  margin-left: 5px;
}

.seekDiv {
  margin-top: 6px;
}

.btn-back:focus,
.btn-play:focus,
.btn-next:focus {
  box-shadow:none;
}

.btn-back,
.btn-next {
  color:#BABABA;
}

.btn-back:hover,
.btn-next:hover {
  color:#fff;
}

.btn-play {
  border-radius:50%;
  background-color:#fff;
  color:#262626;
}

.btnPlayIcon {
  position: relative;
  left: 1px;
}

.btnPauseIcon {
  position: relative;
  left: 0px;
}

.volumeMutedIcon {
  position: relative;
  right: 2px;
}

.currentTime,
.totalTime {
  color:#a7a7a7;
  font-size:13px;
}

.songNameMobile {
  position:fixed;
  padding-left:14px;
}

.songName {
  padding-left:10px;
  line-height:17px;
  display: inline-block;
  position: relative;
  top: -7px;
  left: -5px;
}

@media (min-width: 768px) {
  .songNameMobile {
    display:none;
  }
}

@media (max-width: 768px) {
  .songName {
    display:none;
  }
}

.titlePlayer {
  font-size:14px;
  color:#fff;
}

.artistPlayer {
  font-size:11px;
  color:#b3b3b3;
}

.songThumbnail {
  height: 53px;
  display: inline-flex;
  position:relative;
  top:6px;
  margin-left: 15px;
}